In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import glob as glob

In [2]:
pd.set_option('display.max_columns',None)

## Reading individual csv files and concat them in one DataFrame

In [3]:
acc2017 = pd.read_csv('C:/BIA/ETL/UK_Staging/accidents/dft-road-casualty-statistics-accident-2017.csv', low_memory=False)
acc2017

,accident_index,accident_year,accident_reference,location_easting_osgr,location_northing_osgr,longitude,latitude,police_force,accident_severity,number_of_vehicles,number_of_casualties,date,day_of_week,time,local_authority_district,local_authority_ons_district,local_authority_highway,first_road_class,first_road_number,road_type,speed_limit,junction_detail,junction_control,second_road_class,second_road_number,pedestrian_crossing_human_control,pedestrian_crossing_physical_facilities,light_conditions,weather_conditions,road_surface_conditions,special_conditions_at_site,carriageway_hazards,urban_or_rural_area,did_police_officer_attend_scene_of_accident,trunk_road_flag,lsoa_of_accident_location
0,2017010001708,2017,010001708,532920.0,196330.0,-0.080107,51.650061,1,1,2,3,05/08/2017,7,03:12,32,E09000010,E09000010,3,105,6,30,0,-1,-1,-1,0,0,4,1,1,0,0,1,1,2,E01001450
1,2017010009342,2017,010009342,526790.0,181970.0,-0.173845,51.522425,1,3,2,1,01/01/2017,1,01:30,1,E09000033,E09000033,3,5,6,30,3,4,6,0,0,0,4,1,2,0,0,1,1,2,E01004702
2,2017010009344,2017,010009344,535200.0,181260.0,-0.052969,51.514096,1,3,3,1,01/01/2017,1,00:30,5,E09000030,E09000030,3,13,6,30,3,4,5,0,0,0,4,1,1,0,0,1,1,2,E01004298
3,2017010009348,2017,010009348,534340.0,193560.0,-0.060658,51.624832,1,3,2,1,01/01/2017,1,01:11,32,E09000010,E09000010,3,1010,1,30,1,4,4,154,0,4,4,2,2,0,0,1,1,2,E01001429
4,2017010009350,2017,010009350,533680.0,187820.0,-0.072372,51.573408,1,2,1,1,01/01/2017,1,01:42,4,E09000012,E09000012,3,107,3,20,6,2,3,10,0,5,4,1,2,0,0,1,1,2,E01001808
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129977,2017984121017,2017,984121017,308024.0,602926.0,-3.450645,55.311793,98,3,1,1,17/12/2017,1,11:30,917,S12000006,S12000006,2,74,3,70,0,-1,-1,-1,0,0,1,8,4,0,0,2,1,-1,-1
129978,2017984121217,2017,984121217,331826.0,567154.0,-3.067116,54.994285,98,3,1,1,15/12/2017,6,13:00,917,S12000006,S12000006,5,0,6,20,0,-1,-1,-1,0,0,1,1,1,0,6,1,2,-1,-1
129979,2017984121717,2017,984121717,321809.0,573939.0,-3.225506,55.053767,98,3,2,1,18/12/2017,2,13:30,917,S12000006,S12000006,2,74,3,70,5,4,6,0,0,0,1,1,2,0,0,2,1,-1,-1
129980,2017984122317,2017,984122317,310467.0,604501.0,-3.412672,55.326392,98,3,1,1,18/07/2017,3,18:00,917,S12000006,S12000006,3,708,6,60,0,-1,-1,-1,0,0,1,1,1,0,0,2,1,-1,-1
129981,2017984122617,2017,984122617,318705.0,566886.0,-3.272073,54.989905,98,2,2,2,20/12/2017,4,13:00,917,S12000006,S12000006,4,721,6,40,3,4,4,724,0,0,1,7,2,0,0,2,1,-1,-1

In [4]:
acc2018 = pd.read_csv('C:/BIA/ETL/UK_Staging/accidents/dft-road-casualty-statistics-accident-2018.csv',low_memory=False)
acc2018

,accident_index,accident_year,accident_reference,location_easting_osgr,location_northing_osgr,longitude,latitude,police_force,accident_severity,number_of_vehicles,number_of_casualties,date,day_of_week,time,local_authority_district,local_authority_ons_district,local_authority_highway,first_road_class,first_road_number,road_type,speed_limit,junction_detail,junction_control,second_road_class,second_road_number,pedestrian_crossing_human_control,pedestrian_crossing_physical_facilities,light_conditions,weather_conditions,road_surface_conditions,special_conditions_at_site,carriageway_hazards,urban_or_rural_area,did_police_officer_attend_scene_of_accident,trunk_road_flag,lsoa_of_accident_location
0,2018010080971,2018,010080971,529150.0,182270.0,-0.139737,51.524587,1,3,2,2,01/01/2018,2,01:30,2,E09000007,E09000007,3,501,3,30,0,-1,-1,-1,0,0,4,1,1,0,0,1,1,2,E01000854
1,2018010080973,2018,010080973,542020.0,184290.0,0.046471,51.539651,1,3,1,1,01/01/2018,2,00:50,17,E09000025,E09000025,4,165,6,30,2,4,6,0,0,0,4,1,1,0,0,1,1,2,E01003531
2,2018010080974,2018,010080974,531720.0,182910.0,-0.102474,51.529746,1,3,2,1,01/01/2018,2,00:45,3,E09000019,E09000019,3,1,6,20,6,4,5,0,0,5,4,1,1,0,0,1,1,2,E01002723
3,2018010080981,2018,010080981,541450.0,183220.0,0.037828,51.530179,1,2,2,1,01/01/2018,2,03:00,17,E09000025,E09000025,4,167,3,30,7,2,3,124,0,5,4,2,2,0,0,1,1,2,E01003492
4,2018010080982,2018,010080982,543580.0,176500.0,0.065781,51.469258,1,2,2,2,01/01/2018,2,02:20,6,E09000011,E09000011,3,207,6,30,0,-1,-1,-1,0,0,4,1,2,0,0,1,1,2,E01001682
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122630,2018984115718,2018,984115718,307124.0,594145.0,-3.461918,55.232746,98,3,2,1,23/12/2018,1,13:45,917,S12000006,S12000006,3,701,6,60,0,-1,-1,-1,0,0,1,1,2,0,0,2,1,-1,-1
122631,2018984115918,2018,984115918,313325.0,581065.0,-3.360440,55.116374,98,3,2,1,24/12/2018,2,10:45,917,S12000006,S12000006,2,74,3,70,0,-1,-1,-1,0,0,1,1,1,0,0,1,1,-1,-1
122632,2018984116018,2018,984116018,319337.0,574511.0,-3.264352,55.058510,98,3,3,1,20/12/2018,5,18:00,917,S12000006,S12000006,4,7076,6,30,0,-1,-1,-1,0,0,4,1,2,0,0,2,1,-1,-1
122633,2018984116318,2018,984116318,318858.0,566932.0,-3.269695,54.990344,98,2,1,1,24/12/2018,2,11:50,917,S12000006,S12000006,5,0,6,60,3,4,6,0,0,0,1,1,4,0,0,2,1,-1,-1
122634,2018984116418,2018,984116418,316008.0,568771.0,-3.314764,55.006392,98,3,1,1,31/12/2018,2,07:10,917,S12000006,S12000006,4,7020,6,60,0,-1,-1,-1,0,0,6,1,1,0,7,2,2,-1,-1

In [5]:
acc2019 = pd.read_csv('C:/BIA/ETL/UK_Staging/accidents/dft-road-casualty-statistics-accident-2019.csv',low_memory=False)
acc2019

,accident_index,accident_year,accident_reference,location_easting_osgr,location_northing_osgr,longitude,latitude,police_force,accident_severity,number_of_vehicles,number_of_casualties,date,day_of_week,time,local_authority_district,local_authority_ons_district,local_authority_highway,first_road_class,first_road_number,road_type,speed_limit,junction_detail,junction_control,second_road_class,second_road_number,pedestrian_crossing_human_control,pedestrian_crossing_physical_facilities,light_conditions,weather_conditions,road_surface_conditions,special_conditions_at_site,carriageway_hazards,urban_or_rural_area,did_police_officer_attend_scene_of_accident,trunk_road_flag,lsoa_of_accident_location
0,2019010128300,2019,010128300,528218.0,180407.0,-0.153842,51.508057,1,3,2,3,18/02/2019,2,17:50,1,E09000033,E09000033,3,4202,1,30,1,2,3,4202,0,5,1,1,1,0,0,1,3,2,E01004762
1,2019010152270,2019,010152270,530219.0,172463.0,-0.127949,51.436208,1,3,2,1,15/01/2019,3,21:45,9,E09000022,E09000022,3,23,2,30,0,-1,-1,-1,9,9,4,1,1,0,0,1,3,2,E01003117
2,2019010155191,2019,010155191,530222.0,182543.0,-0.124193,51.526795,1,3,2,1,01/01/2019,3,01:50,2,E09000007,E09000007,4,504,6,30,3,4,6,0,0,0,4,1,1,0,0,1,1,2,E01000943
3,2019010155192,2019,010155192,525531.0,184605.0,-0.191044,51.546387,1,2,1,1,01/01/2019,3,01:20,2,E09000007,E09000007,4,510,6,20,3,4,4,510,0,0,4,1,1,0,0,1,1,2,E01000973
4,2019010155194,2019,010155194,524920.0,184004.0,-0.200064,51.541121,1,3,2,2,01/01/2019,3,00:40,28,E09000005,E09000005,3,4003,6,30,6,4,6,0,0,0,4,1,1,0,0,1,1,2,E01000546
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117531,2019984106919,2019,984106919,312635.0,573392.0,-3.368899,55.047323,98,3,1,1,18/05/2019,7,01:00,917,S12000006,S12000006,4,725,6,60,0,-1,-1,-1,0,0,1,1,2,0,0,2,1,-1,-1
117532,2019984107019,2019,984107019,337522.0,591682.0,-2.983499,55.215407,98,3,4,1,30/05/2019,5,08:46,917,S12000006,S12000006,3,7,6,60,0,-1,-1,-1,0,0,1,1,2,0,0,2,1,-1,-1
117533,2019984107219,2019,984107219,318544.0,567087.0,-3.274645,54.991685,98,3,2,1,21/06/2019,6,15:30,917,S12000006,S12000006,4,723,6,60,3,4,4,721,0,0,1,1,1,0,0,2,2,-1,-1
117534,2019984107419,2019,984107419,336525.0,584226.0,-2.997491,55.148292,98,3,1,1,29/06/2019,7,14:10,917,S12000006,S12000006,6,0,6,30,3,4,6,0,0,0,1,1,1,0,0,2,2,-1,-1
117535,201998QC01004,2019,98QC01004,291367.0,608364.0,-3.715064,55.357237,98,2,1,1,21/04/2019,1,12:45,917,S12000006,S12000006,3,702,6,60,0,-1,-1,-1,0,0,1,1,1,0,0,2,1,-1,-1

In [6]:
acc2020 = pd.read_csv('C:/BIA/ETL/UK_Staging/accidents/dft-road-casualty-statistics-accident-2020.csv', low_memory=False)
acc2020

,accident_index,accident_year,accident_reference,location_easting_osgr,location_northing_osgr,longitude,latitude,police_force,accident_severity,number_of_vehicles,number_of_casualties,date,day_of_week,time,local_authority_district,local_authority_ons_district,local_authority_highway,first_road_class,first_road_number,road_type,speed_limit,junction_detail,junction_control,second_road_class,second_road_number,pedestrian_crossing_human_control,pedestrian_crossing_physical_facilities,light_conditions,weather_conditions,road_surface_conditions,special_conditions_at_site,carriageway_hazards,urban_or_rural_area,did_police_officer_attend_scene_of_accident,trunk_road_flag,lsoa_of_accident_location
0,2020010219808,2020,010219808,521389.0,175144.0,-0.254001,51.462262,1,3,1,1,04/02/2020,3,09:00,10,E09000032,E09000032,6,0,6,20,0,-1,0,-1,9,9,1,9,9,0,0,1,3,2,E01004576
1,2020010220496,2020,010220496,529337.0,176237.0,-0.139253,51.470327,1,3,1,2,27/04/2020,2,13:55,9,E09000022,E09000022,3,3036,6,20,9,2,6,0,0,4,1,1,1,0,0,1,1,2,E01003034
2,2020010228005,2020,010228005,526432.0,182761.0,-0.178719,51.529614,1,3,1,1,01/01/2020,4,01:25,1,E09000033,E09000033,5,0,6,30,3,1,6,0,0,0,4,1,2,0,0,1,1,2,E01004726
3,2020010228006,2020,010228006,538676.0,184371.0,-0.001683,51.541210,1,2,1,1,01/01/2020,4,01:50,17,E09000025,E09000025,3,11,6,30,0,-1,0,-1,0,4,4,1,1,0,0,1,1,2,E01003617
4,2020010228011,2020,010228011,529324.0,181286.0,-0.137592,51.515704,1,3,1,2,01/01/2020,4,02:25,1,E09000033,E09000033,3,40,6,30,3,4,5,0,0,0,4,1,1,0,0,1,1,2,E01004763
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91194,2020991027064,2020,991027064,343034.0,731654.0,-2.926320,56.473539,99,2,2,1,12/08/2020,4,14:30,918,S12000042,S12000042,4,959,6,30,1,4,4,959,0,0,1,1,1,0,0,1,1,-1,-1
91195,2020991029573,2020,991029573,257963.0,658891.0,-4.267565,55.802353,99,3,1,1,13/11/2020,6,15:05,922,S12000011,S12000011,6,0,9,30,3,4,6,0,0,0,1,1,1,0,0,1,2,-1,-1
91196,2020991030297,2020,991030297,383664.0,810646.0,-2.271903,57.186317,99,2,2,1,15/04/2020,4,12:42,910,S12000033,S12000033,4,979,6,60,8,-1,6,0,0,0,1,1,1,0,0,2,1,-1,-1
91197,2020991030900,2020,991030900,277161.0,674852.0,-3.968753,55.950940,99,3,2,1,15/12/2020,3,14:00,932,S12000044,S12000044,6,0,6,30,3,4,6,0,0,0,1,1,1,0,0,1,2,-1,-1
91198,2020991032575,2020,991032575,240402.0,681950.0,-4.561040,56.003843,99,3,1,1,25/08/2020,3,13:50,916,S12000039,S12000039,6,0,6,30,0,-1,0,-1,0,0,1,1,1,0,2,1,1,-1,-1

In [7]:
acc2021 = pd.read_csv('C:/BIA/ETL/UK_Staging/accidents/dft-road-casualty-statistics-accident-2021.csv', low_memory=False)
acc2021

,accident_index,accident_year,accident_reference,location_easting_osgr,location_northing_osgr,longitude,latitude,police_force,accident_severity,number_of_vehicles,number_of_casualties,date,day_of_week,time,local_authority_district,local_authority_ons_district,local_authority_highway,first_road_class,first_road_number,road_type,speed_limit,junction_detail,junction_control,second_road_class,second_road_number,pedestrian_crossing_human_control,pedestrian_crossing_physical_facilities,light_conditions,weather_conditions,road_surface_conditions,special_conditions_at_site,carriageway_hazards,urban_or_rural_area,did_police_officer_attend_scene_of_accident,trunk_road_flag,lsoa_of_accident_location
0,2021010287148,2021,010287148,521508.0,193079.0,-0.246102,51.623425,1,3,3,1,01/01/2021,6,02:05,-1,E09000003,E09000003,6,0,6,30,9,4,6,0,0,0,4,7,4,1,0,1,1,2,E01000263
1,2021010287149,2021,010287149,535379.0,180783.0,-0.050574,51.509767,1,2,2,3,01/01/2021,6,03:30,-1,E09000030,E09000030,3,1203,3,30,7,2,3,1204,0,5,4,1,1,0,0,1,1,2,E01004303
2,2021010287151,2021,010287151,529701.0,170398.0,-0.136152,51.417769,1,2,2,4,01/01/2021,6,04:07,-1,E09000022,E09000022,4,272,6,30,9,2,5,0,0,5,4,1,1,0,0,1,1,2,E01003146
3,2021010287155,2021,010287155,525312.0,178385.0,-0.196411,51.490536,1,1,1,1,01/01/2021,6,04:26,-1,E09000020,E09000020,3,3220,2,30,9,4,6,0,0,4,4,1,1,0,0,1,1,2,E01002847
4,2021010287157,2021,010287157,512144.0,171526.0,-0.388169,51.431649,1,3,4,1,01/01/2021,6,03:10,-1,E09000018,E09000018,5,0,6,20,3,4,6,0,0,0,4,1,1,0,0,1,1,2,E01002608
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101082,2021991196247,2021,991196247,325546.0,674548.0,-3.194076,55.958152,99,3,2,1,22/09/2021,4,09:05,-1,S12000036,S12000036,6,0,6,20,3,4,6,0,0,0,1,1,1,0,0,1,1,-1,-1
101083,2021991196607,2021,991196607,271195.0,558271.0,-4.010304,54.902512,99,3,2,2,11/09/2021,7,21:15,-1,S12000006,S12000006,3,711,6,60,0,-1,0,-1,0,0,6,1,1,0,0,2,1,-1,-1
101084,2021991197944,2021,991197944,357297.0,860768.0,-2.716825,57.634805,99,3,1,1,17/04/2021,7,14:30,-1,S12000034,S12000034,4,9022,6,60,9,3,6,0,0,0,1,1,1,0,0,2,1,-1,-1
101085,2021991200639,2021,991200639,326936.0,675925.0,-3.172192,55.970735,99,3,1,1,17/09/2021,6,17:00,-1,S12000036,S12000036,3,901,9,20,3,2,3,901,0,5,1,9,1,0,0,1,2,-1,-1
101086,2021991201030,2021,991201030,270574.0,556367.0,-4.019126,54.885252,99,3,2,1,15/10/2021,6,16:15,-1,S12000006,S12000006,3,711,6,60,0,-1,0,-1,0,0,1,1,1,4,0,2,1,-1,-1

In [8]:
stg_accidents = pd.concat([acc2017, acc2018, acc2019, acc2020, acc2021] ,ignore_index=True)
stg_accidents

,accident_index,accident_year,accident_reference,location_easting_osgr,location_northing_osgr,longitude,latitude,police_force,accident_severity,number_of_vehicles,number_of_casualties,date,day_of_week,time,local_authority_district,local_authority_ons_district,local_authority_highway,first_road_class,first_road_number,road_type,speed_limit,junction_detail,junction_control,second_road_class,second_road_number,pedestrian_crossing_human_control,pedestrian_crossing_physical_facilities,light_conditions,weather_conditions,road_surface_conditions,special_conditions_at_site,carriageway_hazards,urban_or_rural_area,did_police_officer_attend_scene_of_accident,trunk_road_flag,lsoa_of_accident_location
0,2017010001708,2017,010001708,532920.0,196330.0,-0.080107,51.650061,1,1,2,3,05/08/2017,7,03:12,32,E09000010,E09000010,3,105,6,30,0,-1,-1,-1,0,0,4,1,1,0,0,1,1,2,E01001450
1,2017010009342,2017,010009342,526790.0,181970.0,-0.173845,51.522425,1,3,2,1,01/01/2017,1,01:30,1,E09000033,E09000033,3,5,6,30,3,4,6,0,0,0,4,1,2,0,0,1,1,2,E01004702
2,2017010009344,2017,010009344,535200.0,181260.0,-0.052969,51.514096,1,3,3,1,01/01/2017,1,00:30,5,E09000030,E09000030,3,13,6,30,3,4,5,0,0,0,4,1,1,0,0,1,1,2,E01004298
3,2017010009348,2017,010009348,534340.0,193560.0,-0.060658,51.624832,1,3,2,1,01/01/2017,1,01:11,32,E09000010,E09000010,3,1010,1,30,1,4,4,154,0,4,4,2,2,0,0,1,1,2,E01001429
4,2017010009350,2017,010009350,533680.0,187820.0,-0.072372,51.573408,1,2,1,1,01/01/2017,1,01:42,4,E09000012,E09000012,3,107,3,20,6,2,3,10,0,5,4,1,2,0,0,1,1,2,E01001808
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
562434,2021991196247,2021,991196247,325546.0,674548.0,-3.194076,55.958152,99,3,2,1,22/09/2021,4,09:05,-1,S12000036,S12000036,6,0,6,20,3,4,6,0,0,0,1,1,1,0,0,1,1,-1,-1
562435,2021991196607,2021,991196607,271195.0,558271.0,-4.010304,54.902512,99,3,2,2,11/09/2021,7,21:15,-1,S12000006,S12000006,3,711,6,60,0,-1,0,-1,0,0,6,1,1,0,0,2,1,-1,-1
562436,2021991197944,2021,991197944,357297.0,860768.0,-2.716825,57.634805,99,3,1,1,17/04/2021,7,14:30,-1,S12000034,S12000034,4,9022,6,60,9,3,6,0,0,0,1,1,1,0,0,2,1,-1,-1
562437,2021991200639,2021,991200639,326936.0,675925.0,-3.172192,55.970735,99,3,1,1,17/09/2021,6,17:00,-1,S12000036,S12000036,3,901,9,20,3,2,3,901,0,5,1,9,1,0,0,1,2,-1,-1
562438,2021991201030,2021,991201030,270574.0,556367.0,-4.019126,54.885252,99,3,2,1,15/10/2021,6,16:15,-1,S12000006,S12000006,3,711,6,60,0,-1,0,-1,0,0,1,1,1,4,0,2,1,-1,-1

In [9]:
stg_accidents.to_csv('c:/BIA/ETL/UK_Staging/EDA/stg_accidents.csv')

In [10]:
stg_accidents.isna().sum()

accident_index                                   0
accident_year                                    0
accident_reference                               0
location_easting_osgr                          133
location_northing_osgr                         133
longitude                                      143
latitude                                       143
police_force                                     0
accident_severity                                0
number_of_vehicles                               0
number_of_casualties                             0
date                                             0
day_of_week                                      0
time                                             0
local_authority_district                         0
local_authority_ons_district                     0
local_authority_highway                          0
first_road_class                                 0
first_road_number                                0
road_type                                        0
speed_limit                                      0
junction_detail                                  0
junction_control                                 0
second_road_class                                0
second_road_number                               0
pedestrian_crossing_human_control                0
pedestrian_crossing_physical_facilities          0
light_conditions                                 0
weather_conditions                               0
road_surface_conditions                          0
special_conditions_at_site                       0
carriageway_hazards                              0
urban_or_rural_area                              0
did_police_officer_attend_scene_of_accident      0
trunk_road_flag                                  0
lsoa_of_accident_location                        0
dtype: int64

In [11]:
stg_accidents.groupby(['accident_year']).count()

,accident_index,accident_reference,location_easting_osgr,location_northing_osgr,longitude,latitude,police_force,accident_severity,number_of_vehicles,number_of_casualties,date,day_of_week,time,local_authority_district,local_authority_ons_district,local_authority_highway,first_road_class,first_road_number,road_type,speed_limit,junction_detail,junction_control,second_road_class,second_road_number,pedestrian_crossing_human_control,pedestrian_crossing_physical_facilities,light_conditions,weather_conditions,road_surface_conditions,special_conditions_at_site,carriageway_hazards,urban_or_rural_area,did_police_officer_attend_scene_of_accident,trunk_road_flag,lsoa_of_accident_location
accident_year,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
2017,129982,129982,129963,129963,129953,129953,129982,129982,129982,129982,129982,129982,129982,129982,129982,129982,129982,129982,129982,129982,129982,129982,129982,129982,129982,129982,129982,129982,129982,129982,129982,129982,129982,129982,129982
2018,122635,122635,122580,122580,122580,122580,122635,122635,122635,122635,122635,122635,122635,122635,122635,122635,122635,122635,122635,122635,122635,122635,122635,122635,122635,122635,122635,122635,122635,122635,122635,122635,122635,122635,122635
2019,117536,117536,117508,117508,117508,117508,117536,117536,117536,117536,117536,117536,117536,117536,117536,117536,117536,117536,117536,117536,117536,117536,117536,117536,117536,117536,117536,117536,117536,117536,117536,117536,117536,117536,117536
2020,91199,91199,91185,91185,91185,91185,91199,91199,91199,91199,91199,91199,91199,91199,91199,91199,91199,91199,91199,91199,91199,91199,91199,91199,91199,91199,91199,91199,91199,91199,91199,91199,91199,91199,91199
2021,101087,101087,101070,101070,101070,101070,101087,101087,101087,101087,101087,101087,101087,101087,101087,101087,101087,101087,101087,101087,101087,101087,101087,101087,101087,101087,101087,101087,101087,101087,101087,101087,101087,101087,101087

## Reading multiple files to create a single DataFrame for Accidents

In [12]:
files = glob.glob('C:/BIA/ETL/UK_Staging/accidents/dft-road-casualty-statistics-accident-*.csv')
files

['C:/BIA/ETL/UK_Staging/accidents\\dft-road-casualty-statistics-accident-2017.csv',
 'C:/BIA/ETL/UK_Staging/accidents\\dft-road-casualty-statistics-accident-2018.csv',
 'C:/BIA/ETL/UK_Staging/accidents\\dft-road-casualty-statistics-accident-2019.csv',
 'C:/BIA/ETL/UK_Staging/accidents\\dft-road-casualty-statistics-accident-2020.csv',
 'C:/BIA/ETL/UK_Staging/accidents\\dft-road-casualty-statistics-accident-2021.csv']

In [13]:
# Reading multiple files to create a single DataFrame
accidents = pd.concat([pd.read_csv(f, low_memory=False) for f in files], ignore_index=True)

In [14]:
accidents

,accident_index,accident_year,accident_reference,location_easting_osgr,location_northing_osgr,longitude,latitude,police_force,accident_severity,number_of_vehicles,number_of_casualties,date,day_of_week,time,local_authority_district,local_authority_ons_district,local_authority_highway,first_road_class,first_road_number,road_type,speed_limit,junction_detail,junction_control,second_road_class,second_road_number,pedestrian_crossing_human_control,pedestrian_crossing_physical_facilities,light_conditions,weather_conditions,road_surface_conditions,special_conditions_at_site,carriageway_hazards,urban_or_rural_area,did_police_officer_attend_scene_of_accident,trunk_road_flag,lsoa_of_accident_location
0,2017010001708,2017,010001708,532920.0,196330.0,-0.080107,51.650061,1,1,2,3,05/08/2017,7,03:12,32,E09000010,E09000010,3,105,6,30,0,-1,-1,-1,0,0,4,1,1,0,0,1,1,2,E01001450
1,2017010009342,2017,010009342,526790.0,181970.0,-0.173845,51.522425,1,3,2,1,01/01/2017,1,01:30,1,E09000033,E09000033,3,5,6,30,3,4,6,0,0,0,4,1,2,0,0,1,1,2,E01004702
2,2017010009344,2017,010009344,535200.0,181260.0,-0.052969,51.514096,1,3,3,1,01/01/2017,1,00:30,5,E09000030,E09000030,3,13,6,30,3,4,5,0,0,0,4,1,1,0,0,1,1,2,E01004298
3,2017010009348,2017,010009348,534340.0,193560.0,-0.060658,51.624832,1,3,2,1,01/01/2017,1,01:11,32,E09000010,E09000010,3,1010,1,30,1,4,4,154,0,4,4,2,2,0,0,1,1,2,E01001429
4,2017010009350,2017,010009350,533680.0,187820.0,-0.072372,51.573408,1,2,1,1,01/01/2017,1,01:42,4,E09000012,E09000012,3,107,3,20,6,2,3,10,0,5,4,1,2,0,0,1,1,2,E01001808
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
562434,2021991196247,2021,991196247,325546.0,674548.0,-3.194076,55.958152,99,3,2,1,22/09/2021,4,09:05,-1,S12000036,S12000036,6,0,6,20,3,4,6,0,0,0,1,1,1,0,0,1,1,-1,-1
562435,2021991196607,2021,991196607,271195.0,558271.0,-4.010304,54.902512,99,3,2,2,11/09/2021,7,21:15,-1,S12000006,S12000006,3,711,6,60,0,-1,0,-1,0,0,6,1,1,0,0,2,1,-1,-1
562436,2021991197944,2021,991197944,357297.0,860768.0,-2.716825,57.634805,99,3,1,1,17/04/2021,7,14:30,-1,S12000034,S12000034,4,9022,6,60,9,3,6,0,0,0,1,1,1,0,0,2,1,-1,-1
562437,2021991200639,2021,991200639,326936.0,675925.0,-3.172192,55.970735,99,3,1,1,17/09/2021,6,17:00,-1,S12000036,S12000036,3,901,9,20,3,2,3,901,0,5,1,9,1,0,0,1,2,-1,-1
562438,2021991201030,2021,991201030,270574.0,556367.0,-4.019126,54.885252,99,3,2,1,15/10/2021,6,16:15,-1,S12000006,S12000006,3,711,6,60,0,-1,0,-1,0,0,1,1,1,4,0,2,1,-1,-1

In [15]:
accidents['local_authority_highway'].unique()

array(['E09000010', 'E09000033', 'E09000030', 'E09000012', 'E09000027',
       'E09000017', 'E09000003', 'E09000022', 'E09000014', 'E09000009',
       'E09000028', 'E09000007', 'E09000016', 'E09000032', 'E09000013',
       'EHEATHROW', 'E09000026', 'E09000002', 'E09000011', 'E09000024',
       'E09000031', 'E09000006', 'E09000029', 'E09000005', 'E09000019',
       'E09000008', 'E09000004', 'E09000018', 'E09000025', 'E09000021',
       'E09000020', 'E09000015', 'E09000023', 'E09000001', 'E10000006',
       'E10000017', 'E06000008', 'E06000009', 'E08000015', 'E08000012',
       'E08000014', 'E08000011', 'E08000013', 'E08000010', 'E08000007',
       'E08000009', 'E08000003', 'E08000006', 'E08000008', 'E08000001',
       'E08000002', 'E08000005', 'E08000004', 'E06000049', 'E06000007',
       'E06000050', 'E06000006', 'E08000022', 'E08000021', 'E08000020',
       'E08000023', 'E06000048', 'E08000024', 'E06000005', 'E06000047',
       'E10000023', 'E06000014', 'E08000032', 'E08000036', 'E08000035',
       'E08000034', 'E08000033', 'E08000017', 'E08000018', 'E08000019',
       'E08000016', 'E06000010', 'E06000011', 'E06000012', 'E06000013',
       'E06000001', 'E06000003', 'E06000002', 'E06000004', 'E08000025',
       'E08000030', 'E08000029', 'E08000028', 'E08000031', 'E08000027',
       'E08000026', 'E10000028', 'E06000021', 'E06000051', 'E10000034',
       'E06000019', 'E06000020', 'E10000031', 'E10000007', 'E06000015',
       'E10000024', 'E06000018', 'E10000019', 'E10000018', 'E06000016',
       'E06000017', 'E10000021', 'E10000003', 'E06000031', 'E10000020',
       '-1', 'E10000029', 'E06000056', 'E06000055', 'E06000032',
       'E10000015', 'E10000012', 'E06000034', 'E06000033', 'E10000025',
       'E06000042', 'E10000002', 'E06000037', 'E06000039', 'E06000040',
       'E06000041', 'E06000038', 'E06000036', 'E06000045', 'E06000044',
       'E10000014', 'E06000046', 'E10000030', 'E10000016', 'E06000035',
       'E10000011', 'E10000032', 'E06000043', 'E10000008', 'E06000052',
       'E06000026', 'E06000027', 'E06000053', 'E06000024', 'E10000027',
       'E06000023', 'E06000022', 'E06000025', 'E10000013', 'E06000054',
       'E06000030', 'E06000028', 'E10000009', 'E06000029', 'W06000005',
       'W06000006', 'W06000001', 'W06000004', 'W06000003', 'W06000002',
       'W06000022', 'W06000018', 'W06000021', 'W06000019', 'W06000020',
       'W06000014', 'W06000015', 'W06000011', 'W06000016', 'W06000013',
       'W06000024', 'W06000012', 'W06000010', 'W06000023', 'W06000009',
       'W06000008', 'S12000017', 'S12000013', 'S12000023', 'S12000027',
       'S12000034', 'S12000020', 'S12000033', 'S12000024', 'S12000042',
       'S12000041', 'S12000015', 'S12000010', 'S12000040', 'S12000019',
       'S12000036', 'S12000026', 'S12000030', 'S12000005', 'S12000014',
       'S12000043', 'S12000011', 'S12000009', 'S12000038', 'S12000018',
       'S12000035', 'S12000039', 'S12000044', 'S12000029', 'S12000021',
       'S12000008', 'S12000028', 'S12000006'], dtype=object)

In [16]:
accidents[(accidents['local_authority_highway'] == '-1') & (accidents['accident_year'] == 2018)]

,accident_index,accident_year,accident_reference,location_easting_osgr,location_northing_osgr,longitude,latitude,police_force,accident_severity,number_of_vehicles,number_of_casualties,date,day_of_week,time,local_authority_district,local_authority_ons_district,local_authority_highway,first_road_class,first_road_number,road_type,speed_limit,junction_detail,junction_control,second_road_class,second_road_number,pedestrian_crossing_human_control,pedestrian_crossing_physical_facilities,light_conditions,weather_conditions,road_surface_conditions,special_conditions_at_site,carriageway_hazards,urban_or_rural_area,did_police_officer_attend_scene_of_accident,trunk_road_flag,lsoa_of_accident_location
204608,2018370256350,2018,370256350,589233.0,257460.0,0.766560,52.182936,37,2,1,1,03/01/2018,4,16:55,414,E07000204,-1,6,0,9,30,0,-1,-1,-1,0,0,6,4,2,0,0,2,1,2,E01030138
204610,2018370258201,2018,370258201,630021.0,234111.0,1.346445,51.957890,37,2,2,1,13/01/2018,7,14:50,415,E07000205,-1,6,0,6,30,0,-1,-1,-1,0,0,1,1,1,0,0,1,1,2,E01030163
204612,2018370260290,2018,370260290,596051.0,276118.0,0.876985,52.348090,37,2,1,3,19/01/2018,6,08:55,414,E07000204,-1,5,0,6,60,0,-1,-1,-1,0,0,1,1,4,0,0,2,1,2,E01030096
204615,2018370260720,2018,370260720,628938.0,233979.0,1.330624,51.957152,37,3,1,1,01/01/2018,2,00:35,415,E07000205,-1,6,0,6,30,0,-1,-1,-1,0,0,4,1,2,0,0,1,1,2,E01030171
204617,2018370260794,2018,370260794,572895.0,274215.0,0.536418,52.338781,37,3,1,1,02/01/2018,3,18:04,411,E07000201,-1,3,11,1,70,1,4,3,1065,0,0,4,2,2,0,0,2,1,1,E01029945
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
206065,2018370828800,2018,370828800,628150.0,263476.0,1.338900,52.222225,37,3,1,1,13/12/2018,5,15:10,415,E07000205,-1,4,1116,6,30,3,4,6,0,0,0,1,1,1,0,0,2,2,2,E01030172
206066,2018370829955,2018,370829955,571316.0,272719.0,0.512503,52.325840,37,2,2,2,30/12/2018,1,09:34,411,E07000201,-1,3,11,3,60,3,4,6,0,0,0,1,1,1,0,0,2,1,1,E01029945
206067,2018370833307,2018,370833307,653551.0,295931.0,1.734475,52.502299,37,3,2,1,20/06/2018,4,18:25,416,E07000206,-1,6,0,6,30,3,4,6,0,2,4,1,1,1,0,0,1,1,2,E01030242
206068,2018370835221,2018,370835221,653170.0,293717.0,1.727193,52.482614,37,3,2,2,31/07/2018,3,21:39,416,E07000206,-1,3,1117,6,30,1,4,3,1117,0,0,4,1,1,0,0,1,1,2,E01030271
206069,2018370841831,2018,370841831,654903.0,293229.0,1.752284,52.477430,37,3,1,1,20/12/2018,5,10:46,416,E07000206,-1,6,0,6,20,0,-1,-1,-1,0,0,1,1,2,0,0,1,1,2,E01030249

In [17]:
accidents[(accidents['accident_year'] == 2018) & (accidents['police_force'] == 37)]

,accident_index,accident_year,accident_reference,location_easting_osgr,location_northing_osgr,longitude,latitude,police_force,accident_severity,number_of_vehicles,number_of_casualties,date,day_of_week,time,local_authority_district,local_authority_ons_district,local_authority_highway,first_road_class,first_road_number,road_type,speed_limit,junction_detail,junction_control,second_road_class,second_road_number,pedestrian_crossing_human_control,pedestrian_crossing_physical_facilities,light_conditions,weather_conditions,road_surface_conditions,special_conditions_at_site,carriageway_hazards,urban_or_rural_area,did_police_officer_attend_scene_of_accident,trunk_road_flag,lsoa_of_accident_location
204607,2018370256025,2018,370256025,603468.0,243203.0,0.965972,52.049866,37,2,2,1,05/01/2018,6,17:45,410,E07000200,E10000029,4,1070,6,60,1,4,3,1071,0,0,4,1,1,0,0,2,1,2,E01029893
204608,2018370256350,2018,370256350,589233.0,257460.0,0.766560,52.182936,37,2,1,1,03/01/2018,4,16:55,414,E07000204,-1,6,0,9,30,0,-1,-1,-1,0,0,6,4,2,0,0,2,1,2,E01030138
204609,2018370258121,2018,370258121,616763.0,245762.0,1.161178,52.067803,37,3,2,1,06/01/2018,7,23:40,412,E07000202,E10000029,6,0,6,30,0,-1,-1,-1,0,0,4,1,1,0,0,1,2,2,E01030011
204610,2018370258201,2018,370258201,630021.0,234111.0,1.346445,51.957890,37,2,2,1,13/01/2018,7,14:50,415,E07000205,-1,6,0,6,30,0,-1,-1,-1,0,0,1,1,1,0,0,1,1,2,E01030163
204611,2018370259744,2018,370259744,613482.0,243914.0,1.112231,52.052487,37,3,3,2,06/01/2018,7,17:32,412,E07000202,E10000029,6,0,6,30,0,-1,-1,-1,0,0,4,1,2,0,0,2,2,2,E01029984
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
206065,2018370828800,2018,370828800,628150.0,263476.0,1.338900,52.222225,37,3,1,1,13/12/2018,5,15:10,415,E07000205,-1,4,1116,6,30,3,4,6,0,0,0,1,1,1,0,0,2,2,2,E01030172
206066,2018370829955,2018,370829955,571316.0,272719.0,0.512503,52.325840,37,2,2,2,30/12/2018,1,09:34,411,E07000201,-1,3,11,3,60,3,4,6,0,0,0,1,1,1,0,0,2,1,1,E01029945
206067,2018370833307,2018,370833307,653551.0,295931.0,1.734475,52.502299,37,3,2,1,20/06/2018,4,18:25,416,E07000206,-1,6,0,6,30,3,4,6,0,2,4,1,1,1,0,0,1,1,2,E01030242
206068,2018370835221,2018,370835221,653170.0,293717.0,1.727193,52.482614,37,3,2,2,31/07/2018,3,21:39,416,E07000206,-1,3,1117,6,30,1,4,3,1117,0,0,4,1,1,0,0,1,1,2,E01030271
206069,2018370841831,2018,370841831,654903.0,293229.0,1.752284,52.477430,37,3,1,1,20/12/2018,5,10:46,416,E07000206,-1,6,0,6,20,0,-1,-1,-1,0,0,1,1,2,0,0,1,1,2,E01030249

In [18]:
accidents.isna().sum()

accident_index                                   0
accident_year                                    0
accident_reference                               0
location_easting_osgr                          133
location_northing_osgr                         133
longitude                                      143
latitude                                       143
police_force                                     0
accident_severity                                0
number_of_vehicles                               0
number_of_casualties                             0
date                                             0
day_of_week                                      0
time                                             0
local_authority_district                         0
local_authority_ons_district                     0
local_authority_highway                          0
first_road_class                                 0
first_road_number                                0
road_type                                        0
speed_limit                                      0
junction_detail                                  0
junction_control                                 0
second_road_class                                0
second_road_number                               0
pedestrian_crossing_human_control                0
pedestrian_crossing_physical_facilities          0
light_conditions                                 0
weather_conditions                               0
road_surface_conditions                          0
special_conditions_at_site                       0
carriageway_hazards                              0
urban_or_rural_area                              0
did_police_officer_attend_scene_of_accident      0
trunk_road_flag                                  0
lsoa_of_accident_location                        0
dtype: int64

In [19]:
accidents.groupby(['accident_year'])['number_of_casualties'].sum()

accident_year
2017    170993
2018    160597
2019    153158
2020    115584
2021    128209
Name: number_of_casualties, dtype: int64

In [20]:
(accidents['number_of_casualties']==0).sum()

0

In [21]:
accidents['road_type'].unique()

array([6, 1, 3, 9, 7, 2], dtype=int64)

In [22]:
accidents

,accident_index,accident_year,accident_reference,location_easting_osgr,location_northing_osgr,longitude,latitude,police_force,accident_severity,number_of_vehicles,number_of_casualties,date,day_of_week,time,local_authority_district,local_authority_ons_district,local_authority_highway,first_road_class,first_road_number,road_type,speed_limit,junction_detail,junction_control,second_road_class,second_road_number,pedestrian_crossing_human_control,pedestrian_crossing_physical_facilities,light_conditions,weather_conditions,road_surface_conditions,special_conditions_at_site,carriageway_hazards,urban_or_rural_area,did_police_officer_attend_scene_of_accident,trunk_road_flag,lsoa_of_accident_location
0,2017010001708,2017,010001708,532920.0,196330.0,-0.080107,51.650061,1,1,2,3,05/08/2017,7,03:12,32,E09000010,E09000010,3,105,6,30,0,-1,-1,-1,0,0,4,1,1,0,0,1,1,2,E01001450
1,2017010009342,2017,010009342,526790.0,181970.0,-0.173845,51.522425,1,3,2,1,01/01/2017,1,01:30,1,E09000033,E09000033,3,5,6,30,3,4,6,0,0,0,4,1,2,0,0,1,1,2,E01004702
2,2017010009344,2017,010009344,535200.0,181260.0,-0.052969,51.514096,1,3,3,1,01/01/2017,1,00:30,5,E09000030,E09000030,3,13,6,30,3,4,5,0,0,0,4,1,1,0,0,1,1,2,E01004298
3,2017010009348,2017,010009348,534340.0,193560.0,-0.060658,51.624832,1,3,2,1,01/01/2017,1,01:11,32,E09000010,E09000010,3,1010,1,30,1,4,4,154,0,4,4,2,2,0,0,1,1,2,E01001429
4,2017010009350,2017,010009350,533680.0,187820.0,-0.072372,51.573408,1,2,1,1,01/01/2017,1,01:42,4,E09000012,E09000012,3,107,3,20,6,2,3,10,0,5,4,1,2,0,0,1,1,2,E01001808
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
562434,2021991196247,2021,991196247,325546.0,674548.0,-3.194076,55.958152,99,3,2,1,22/09/2021,4,09:05,-1,S12000036,S12000036,6,0,6,20,3,4,6,0,0,0,1,1,1,0,0,1,1,-1,-1
562435,2021991196607,2021,991196607,271195.0,558271.0,-4.010304,54.902512,99,3,2,2,11/09/2021,7,21:15,-1,S12000006,S12000006,3,711,6,60,0,-1,0,-1,0,0,6,1,1,0,0,2,1,-1,-1
562436,2021991197944,2021,991197944,357297.0,860768.0,-2.716825,57.634805,99,3,1,1,17/04/2021,7,14:30,-1,S12000034,S12000034,4,9022,6,60,9,3,6,0,0,0,1,1,1,0,0,2,1,-1,-1
562437,2021991200639,2021,991200639,326936.0,675925.0,-3.172192,55.970735,99,3,1,1,17/09/2021,6,17:00,-1,S12000036,S12000036,3,901,9,20,3,2,3,901,0,5,1,9,1,0,0,1,2,-1,-1
562438,2021991201030,2021,991201030,270574.0,556367.0,-4.019126,54.885252,99,3,2,1,15/10/2021,6,16:15,-1,S12000006,S12000006,3,711,6,60,0,-1,0,-1,0,0,1,1,1,4,0,2,1,-1,-1

In [23]:
accidents

,accident_index,accident_year,accident_reference,location_easting_osgr,location_northing_osgr,longitude,latitude,police_force,accident_severity,number_of_vehicles,number_of_casualties,date,day_of_week,time,local_authority_district,local_authority_ons_district,local_authority_highway,first_road_class,first_road_number,road_type,speed_limit,junction_detail,junction_control,second_road_class,second_road_number,pedestrian_crossing_human_control,pedestrian_crossing_physical_facilities,light_conditions,weather_conditions,road_surface_conditions,special_conditions_at_site,carriageway_hazards,urban_or_rural_area,did_police_officer_attend_scene_of_accident,trunk_road_flag,lsoa_of_accident_location
0,2017010001708,2017,010001708,532920.0,196330.0,-0.080107,51.650061,1,1,2,3,05/08/2017,7,03:12,32,E09000010,E09000010,3,105,6,30,0,-1,-1,-1,0,0,4,1,1,0,0,1,1,2,E01001450
1,2017010009342,2017,010009342,526790.0,181970.0,-0.173845,51.522425,1,3,2,1,01/01/2017,1,01:30,1,E09000033,E09000033,3,5,6,30,3,4,6,0,0,0,4,1,2,0,0,1,1,2,E01004702
2,2017010009344,2017,010009344,535200.0,181260.0,-0.052969,51.514096,1,3,3,1,01/01/2017,1,00:30,5,E09000030,E09000030,3,13,6,30,3,4,5,0,0,0,4,1,1,0,0,1,1,2,E01004298
3,2017010009348,2017,010009348,534340.0,193560.0,-0.060658,51.624832,1,3,2,1,01/01/2017,1,01:11,32,E09000010,E09000010,3,1010,1,30,1,4,4,154,0,4,4,2,2,0,0,1,1,2,E01001429
4,2017010009350,2017,010009350,533680.0,187820.0,-0.072372,51.573408,1,2,1,1,01/01/2017,1,01:42,4,E09000012,E09000012,3,107,3,20,6,2,3,10,0,5,4,1,2,0,0,1,1,2,E01001808
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
562434,2021991196247,2021,991196247,325546.0,674548.0,-3.194076,55.958152,99,3,2,1,22/09/2021,4,09:05,-1,S12000036,S12000036,6,0,6,20,3,4,6,0,0,0,1,1,1,0,0,1,1,-1,-1
562435,2021991196607,2021,991196607,271195.0,558271.0,-4.010304,54.902512,99,3,2,2,11/09/2021,7,21:15,-1,S12000006,S12000006,3,711,6,60,0,-1,0,-1,0,0,6,1,1,0,0,2,1,-1,-1
562436,2021991197944,2021,991197944,357297.0,860768.0,-2.716825,57.634805,99,3,1,1,17/04/2021,7,14:30,-1,S12000034,S12000034,4,9022,6,60,9,3,6,0,0,0,1,1,1,0,0,2,1,-1,-1
562437,2021991200639,2021,991200639,326936.0,675925.0,-3.172192,55.970735,99,3,1,1,17/09/2021,6,17:00,-1,S12000036,S12000036,3,901,9,20,3,2,3,901,0,5,1,9,1,0,0,1,2,-1,-1
562438,2021991201030,2021,991201030,270574.0,556367.0,-4.019126,54.885252,99,3,2,1,15/10/2021,6,16:15,-1,S12000006,S12000006,3,711,6,60,0,-1,0,-1,0,0,1,1,1,4,0,2,1,-1,-1

In [24]:
accidents.groupby(['first_road_class'])['number_of_casualties'].sum()

first_road_class
1     28619
2      2315
3    329060
4     88595
5     37655
6    242297
Name: number_of_casualties, dtype: int64

In [25]:
accidents2018 = accidents[(accidents['accident_year'] == 2018)]# & (accidents['urban_or_rural_area'] == -1)]
accidents2018['number_of_casualties'].sum()

160597

In [26]:
accidents2018['urban_or_rural_area'].unique()

array([ 1,  2,  3, -1], dtype=int64)

In [27]:
accidents2018 = accidents[(accidents['accident_year'] == 2018)] # & (accidents['urban_or_rural_area'] == -1)]
accidents2018['number_of_casualties'].sum()

160597

In [28]:
accidents2018.groupby(['urban_or_rural_area'])['number_of_casualties'].sum()

urban_or_rural_area
-1         4
 1    102256
 2     58261
 3        76
Name: number_of_casualties, dtype: int64

## ## Reading multiple files to create a single DataFrame for Casualty

In [29]:
files2 = glob.glob('C:/BIA/ETL/UK_Staging/casualties/dft-road-casualty-statistics-casualty-*.csv')
files2
casualties = pd.concat([pd.read_csv(f, low_memory=False) for f in files2], ignore_index=True)
casualties

,accident_index,accident_year,accident_reference,vehicle_reference,casualty_reference,casualty_class,sex_of_casualty,age_of_casualty,age_band_of_casualty,casualty_severity,pedestrian_location,pedestrian_movement,car_passenger,bus_or_coach_passenger,pedestrian_road_maintenance_worker,casualty_type,casualty_home_area_type,casualty_imd_decile,lsoa_of_casualty,Unnamed: 18
0,2.01701E+12,2017,10001708,1,1,2,2,18,4,3,0,0,1,0,0,9,1,2,NaN,NaN
1,2.01701E+12,2017,10001708,2,2,1,1,19,4,2,0,0,0,0,0,2,-1,-1,NaN,NaN
2,2.01701E+12,2017,10001708,2,3,2,1,18,4,1,0,0,0,0,0,2,-1,-1,NaN,NaN
3,2.01701E+12,2017,10009342,1,1,2,2,33,6,3,0,0,1,0,0,9,1,5,NaN,NaN
4,2.01701E+12,2017,10009344,3,1,1,2,31,6,3,0,0,0,0,0,9,1,5,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
728536,2021991196607,2021,991196607,1,1,1,1,38,7,3,0,0,0,0,0,9,2,5,-1,NaN
728537,2021991196607,2021,991196607,2,2,1,1,61,9,3,0,0,0,0,0,9,2,9,-1,NaN
728538,2021991197944,2021,991197944,1,1,2,2,11,3,3,0,0,2,0,0,9,3,5,-1,NaN
728539,2021991200639,2021,991200639,1,1,3,2,34,6,3,1,3,0,0,0,0,1,1,-1,NaN
728540,2021991201030,2021,991201030,2,1,1,1,58,9,3,0,0,0,0,0,17,3,5,-1,NaN

In [30]:
casualties[casualties['casualty_type'] == 22]

,accident_index,accident_year,accident_reference,vehicle_reference,casualty_reference,casualty_class,sex_of_casualty,age_of_casualty,age_band_of_casualty,casualty_severity,pedestrian_location,pedestrian_movement,car_passenger,bus_or_coach_passenger,pedestrian_road_maintenance_worker,casualty_type,casualty_home_area_type,casualty_imd_decile,lsoa_of_casualty,Unnamed: 18
32527,2.01703E+12,2017,30162341,1,1,1,1,-1,-1,3,0,0,0,0,0,22,1,8,NaN,NaN
32732,2.01703E+12,2017,30177525,1,1,1,1,87,11,1,0,0,0,0,0,22,3,6,NaN,NaN
33224,2.01703E+12,2017,30206646,2,1,1,1,50,8,3,0,0,0,0,0,22,-1,-1,NaN,NaN
33353,2.01703E+12,2017,30214491,1,1,1,1,72,10,3,0,0,0,0,0,22,2,8,NaN,NaN
33951,2.01703E+12,2017,30265152,2,1,1,2,47,8,3,0,0,0,0,0,22,-1,-1,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
723723,2021991019285,2021,991019285,2,1,1,2,46,8,3,0,0,0,0,0,22,1,1,-1,NaN
724590,2021991039404,2021,991039404,1,1,1,1,39,7,3,0,0,0,0,0,22,1,2,-1,NaN
724801,2021991044877,2021,991044877,1,1,1,1,93,11,2,0,0,0,0,0,22,1,6,-1,NaN
725761,2021991065543,2021,991065543,1,1,1,1,77,11,1,0,0,0,0,0,22,3,8,-1,NaN
727608,2021991106519,2021,991106519,2,1,1,1,88,11,2,0,0,0,0,0,22,-1,-1,-1,NaN

In [31]:
casualties['age_of_casualty'].unique()

array([ 18,  19,  33,  31,   3,  45,  14,  58,  27,  39,  48,  26,  47,
        11,  15,  23,  60,  34,  44,  25,  50,  53,  13,  22,  24,  20,
        37,  49,  59,  30,  17,  29,  69,  28,  16,  32,  41,   6,  36,
         4,   7,   5,   8,  21,   9,  76,  73,  43,  54,  52,  74,  84,
        65,  40,  88,  51,  63,  35,  55,  42,  61,  66,  86,  67,  46,
        10,  72,  38,  12,  57,  56,   2,  90,  77,  71,  85,  91,  70,
        62,  87,  80,  83,   0,  64,  89,  79,  82,  68,  -1,  94,   1,
        78,  81,  93,  75,  92,  97,  96,  95,  98, 100,  99, 101, 102],
      dtype=int64)

In [32]:
(casualties['casualty_type'] == 2021).sum()

0

In [33]:
casualties.groupby('accident_year')['casualty_type'].unique()

accident_year
2017    [9, 2, 0, 3, 8, 1, 11, 4, 90, 19, 5, 10, 21, 2...
2018    [9, 8, 0, 1, 3, 2, 5, 11, 4, 19, 10, 90, 21, 2...
2019    [9, 1, 0, 8, 4, 3, 5, 11, 2, 22, 23, 19, 90, 9...
2020    [0, 9, 3, 8, 2, 11, 1, 19, 4, 5, 20, 90, 21, 2...
2021    [9, 0, 11, 5, 19, 3, 1, 90, 2, 8, 20, 4, 23, 1...
Name: casualty_type, dtype: object

In [34]:
casualties['casualty_type'].unique()

array([ 9,  2,  0,  3,  8,  1, 11,  4, 90, 19,  5, 10, 21, 20, 16, 98, 23,
       22, 17, 97, 18, 99, -1], dtype=int64)

In [35]:
casualties[(casualties['casualty_type'] == 99) & (casualties['accident_year']==2018)]

,accident_index,accident_year,accident_reference,vehicle_reference,casualty_reference,casualty_class,sex_of_casualty,age_of_casualty,age_band_of_casualty,casualty_severity,pedestrian_location,pedestrian_movement,car_passenger,bus_or_coach_passenger,pedestrian_road_maintenance_worker,casualty_type,casualty_home_area_type,casualty_imd_decile,lsoa_of_casualty,Unnamed: 18
299013,201846T315787,2018,46T315787,2,1,1,2,48,8,3,0,0,0,0,0,99,-1,-1,NaN,NaN
299014,201846T315787,2018,46T315787,2,2,2,2,-1,-1,3,0,0,9,0,0,99,-1,-1,NaN,NaN

In [36]:
casualties[(casualties['casualty_type'] == 90) & (casualties['accident_year'] == 2018)].count()

accident_index                        560
accident_year                         560
accident_reference                    560
vehicle_reference                     560
casualty_reference                    560
casualty_class                        560
sex_of_casualty                       560
age_of_casualty                       560
age_band_of_casualty                  560
casualty_severity                     560
pedestrian_location                   560
pedestrian_movement                   560
car_passenger                         560
bus_or_coach_passenger                560
pedestrian_road_maintenance_worker    560
casualty_type                         560
casualty_home_area_type               560
casualty_imd_decile                   560
lsoa_of_casualty                        0
Unnamed: 18                             0
dtype: int64

In [37]:
casualties

,accident_index,accident_year,accident_reference,vehicle_reference,casualty_reference,casualty_class,sex_of_casualty,age_of_casualty,age_band_of_casualty,casualty_severity,pedestrian_location,pedestrian_movement,car_passenger,bus_or_coach_passenger,pedestrian_road_maintenance_worker,casualty_type,casualty_home_area_type,casualty_imd_decile,lsoa_of_casualty,Unnamed: 18
0,2.01701E+12,2017,10001708,1,1,2,2,18,4,3,0,0,1,0,0,9,1,2,NaN,NaN
1,2.01701E+12,2017,10001708,2,2,1,1,19,4,2,0,0,0,0,0,2,-1,-1,NaN,NaN
2,2.01701E+12,2017,10001708,2,3,2,1,18,4,1,0,0,0,0,0,2,-1,-1,NaN,NaN
3,2.01701E+12,2017,10009342,1,1,2,2,33,6,3,0,0,1,0,0,9,1,5,NaN,NaN
4,2.01701E+12,2017,10009344,3,1,1,2,31,6,3,0,0,0,0,0,9,1,5,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
728536,2021991196607,2021,991196607,1,1,1,1,38,7,3,0,0,0,0,0,9,2,5,-1,NaN
728537,2021991196607,2021,991196607,2,2,1,1,61,9,3,0,0,0,0,0,9,2,9,-1,NaN
728538,2021991197944,2021,991197944,1,1,2,2,11,3,3,0,0,2,0,0,9,3,5,-1,NaN
728539,2021991200639,2021,991200639,1,1,3,2,34,6,3,1,3,0,0,0,0,1,1,-1,NaN
728540,2021991201030,2021,991201030,2,1,1,1,58,9,3,0,0,0,0,0,17,3,5,-1,NaN

In [38]:
accidents

,accident_index,accident_year,accident_reference,location_easting_osgr,location_northing_osgr,longitude,latitude,police_force,accident_severity,number_of_vehicles,number_of_casualties,date,day_of_week,time,local_authority_district,local_authority_ons_district,local_authority_highway,first_road_class,first_road_number,road_type,speed_limit,junction_detail,junction_control,second_road_class,second_road_number,pedestrian_crossing_human_control,pedestrian_crossing_physical_facilities,light_conditions,weather_conditions,road_surface_conditions,special_conditions_at_site,carriageway_hazards,urban_or_rural_area,did_police_officer_attend_scene_of_accident,trunk_road_flag,lsoa_of_accident_location
0,2017010001708,2017,010001708,532920.0,196330.0,-0.080107,51.650061,1,1,2,3,05/08/2017,7,03:12,32,E09000010,E09000010,3,105,6,30,0,-1,-1,-1,0,0,4,1,1,0,0,1,1,2,E01001450
1,2017010009342,2017,010009342,526790.0,181970.0,-0.173845,51.522425,1,3,2,1,01/01/2017,1,01:30,1,E09000033,E09000033,3,5,6,30,3,4,6,0,0,0,4,1,2,0,0,1,1,2,E01004702
2,2017010009344,2017,010009344,535200.0,181260.0,-0.052969,51.514096,1,3,3,1,01/01/2017,1,00:30,5,E09000030,E09000030,3,13,6,30,3,4,5,0,0,0,4,1,1,0,0,1,1,2,E01004298
3,2017010009348,2017,010009348,534340.0,193560.0,-0.060658,51.624832,1,3,2,1,01/01/2017,1,01:11,32,E09000010,E09000010,3,1010,1,30,1,4,4,154,0,4,4,2,2,0,0,1,1,2,E01001429
4,2017010009350,2017,010009350,533680.0,187820.0,-0.072372,51.573408,1,2,1,1,01/01/2017,1,01:42,4,E09000012,E09000012,3,107,3,20,6,2,3,10,0,5,4,1,2,0,0,1,1,2,E01001808
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
562434,2021991196247,2021,991196247,325546.0,674548.0,-3.194076,55.958152,99,3,2,1,22/09/2021,4,09:05,-1,S12000036,S12000036,6,0,6,20,3,4,6,0,0,0,1,1,1,0,0,1,1,-1,-1
562435,2021991196607,2021,991196607,271195.0,558271.0,-4.010304,54.902512,99,3,2,2,11/09/2021,7,21:15,-1,S12000006,S12000006,3,711,6,60,0,-1,0,-1,0,0,6,1,1,0,0,2,1,-1,-1
562436,2021991197944,2021,991197944,357297.0,860768.0,-2.716825,57.634805,99,3,1,1,17/04/2021,7,14:30,-1,S12000034,S12000034,4,9022,6,60,9,3,6,0,0,0,1,1,1,0,0,2,1,-1,-1
562437,2021991200639,2021,991200639,326936.0,675925.0,-3.172192,55.970735,99,3,1,1,17/09/2021,6,17:00,-1,S12000036,S12000036,3,901,9,20,3,2,3,901,0,5,1,9,1,0,0,1,2,-1,-1
562438,2021991201030,2021,991201030,270574.0,556367.0,-4.019126,54.885252,99,3,2,1,15/10/2021,6,16:15,-1,S12000006,S12000006,3,711,6,60,0,-1,0,-1,0,0,1,1,1,4,0,2,1,-1,-1

In [105]:
road_type = pd.DataFrame(accidents, columns=['accident_year' ,'first_road_class', 'urban_or_rural_area', 'number_of_casualties'])
road_type

,accident_year,first_road_class,urban_or_rural_area,number_of_casualties
0,2017,3,1,3
1,2017,3,1,1
2,2017,3,1,1
3,2017,3,1,1
4,2017,3,1,1
...,...,...,...,...
562434,2021,6,1,1
562435,2021,3,2,2
562436,2021,4,2,1
562437,2021,3,1,1
562438,2021,3,2,1

In [213]:
road_type2018 = road_type[(road_type['accident_year'] == 2018)] 
road_type2018

,accident_year,first_road_class,urban_or_rural_area,number_of_casualties
129982,2018,3,1,2
129983,2018,4,1,1
129984,2018,3,1,1
129985,2018,4,1,1
129986,2018,3,1,2
...,...,...,...,...
252612,2018,3,2,1
252613,2018,2,1,1
252614,2018,4,2,1
252615,2018,5,2,1
252616,2018,4,2,1

In [187]:
road_type2018[(road_type2018['first_road_class'] == 1) | (road_type2018['first_road_class'] == 2)].sum()

accident_year           9214188
first_road_class           4907
urban_or_rural_area        8288
number_of_casualties       7309
dtype: int64

In [180]:
road_type2018[(road_type2018['first_road_class'] ==3) | (road_type2018['first_road_class'] == 4) 
              | (road_type2018['first_road_class'] == 5) | (road_type2018['first_road_class'] == 6)].sum()

accident_year           238263242
first_road_class           512492
urban_or_rural_area        154451
number_of_casualties       153288
dtype: int64

In [182]:
road_type2018[(road_type2018['first_road_class'] ==5)].sum()

accident_year           14136090
first_road_class           35025
urban_or_rural_area         8617
number_of_casualties        8777
dtype: int64

In [225]:
road_type2018[(road_type2018['urban_or_rural_area'] == 1)].sum()

accident_year           166652494
first_road_class           366807
urban_or_rural_area         82583
number_of_casualties       102256
dtype: int64

## EDA on fact table

In [156]:
fact = pd.read_csv('C:/BIA/ETL/UK_Staging/Facts/f.UK_Road_Casualty.csv', low_memory=False)
fact

,accident_index,accident_year,accident_reference,police_force,accident_severity,number_of_vehicles,number_of_casualties,acc_date,day_of_week,time,local_authority_highway,speed_limit,casualty_class,sex_of_casualty,age_of_casualty,age_band_of_casualty,casualty_severity,Road_type,Road_user_type
0,2021201082376,2021,201082376,20,3,2,1,2021-07-12,2,08:30,E08000030,2,1,1,53,8,3,2,19
1,2021201082383,2021,201082383,20,2,2,1,2021-07-15,5,22:17,E08000025,2,1,2,28,6,2,2,9
2,2021201082384,2021,201082384,20,3,2,1,2021-05-17,2,08:59,E08000025,2,1,2,34,6,3,2,9
3,2021201082407,2021,201082407,20,3,2,3,2021-05-15,7,17:54,E08000028,2,1,1,21,5,3,2,9
4,2021201082407,2021,201082407,20,3,2,3,2021-05-15,7,17:54,E08000028,2,1,2,27,6,3,2,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
728536,201731D027017,2017,31D027017,31,3,2,1,2017-02-23,5,16:30,E10000024,4,2,1,9,2,3,3,9
728537,2018460328922,2018,460328922,46,3,2,2,2018-09-07,6,08:24,E10000016,3,1,2,39,7,3,3,9
728538,2018460328922,2018,460328922,46,3,2,2,2018-09-07,6,08:24,E10000016,3,2,2,9,2,3,3,9
728539,2018010123866,2018,010123866,1,2,1,1,2018-07-29,1,04:30,E09000030,2,3,1,22,5,2,2,0
728540,2019010208894,2019,010208894,1,3,3,1,2019-09-27,6,10:20,E09000028,1,2,2,-1,-1,3,2,8

In [157]:
fact.isna().sum()

accident_index             0
accident_year              0
accident_reference         0
police_force               0
accident_severity          0
number_of_vehicles         0
number_of_casualties       0
acc_date                   0
day_of_week                0
time                       0
local_authority_highway    0
speed_limit                0
casualty_class             0
sex_of_casualty            0
age_of_casualty            0
age_band_of_casualty       0
casualty_severity          0
Road_type                  0
Road_user_type             0
dtype: int64

In [158]:
fact.groupby('sex_of_casualty').count()

,accident_index,accident_year,accident_reference,police_force,accident_severity,number_of_vehicles,number_of_casualties,acc_date,day_of_week,time,local_authority_highway,speed_limit,casualty_class,age_of_casualty,age_band_of_casualty,casualty_severity,Road_type,Road_user_type
sex_of_casualty,,,,,,,,,,,,,,,,,,
-1,2546,2546,2546,2546,2546,2546,2546,2546,2546,2546,2546,2546,2546,2546,2546,2546,2546,2546
1,439624,439624,439624,439624,439624,439624,439624,439624,439624,439624,439624,439624,439624,439624,439624,439624,439624,439624
2,286347,286347,286347,286347,286347,286347,286347,286347,286347,286347,286347,286347,286347,286347,286347,286347,286347,286347
9,24,24,24,24,24,24,24,24,24,24,24,24,24,24,24,24,24,24

In [159]:
fact[(fact['sex_of_casualty']==9)]

,accident_index,accident_year,accident_reference,police_force,accident_severity,number_of_vehicles,number_of_casualties,acc_date,day_of_week,time,local_authority_highway,speed_limit,casualty_class,sex_of_casualty,age_of_casualty,age_band_of_casualty,casualty_severity,Road_type,Road_user_type
19768,2021430151049,2021,430151049,43,3,2,1,2021-04-10,7,12:40,E06000040,4,1,9,36,7,3,1,9
243392,2018430197128,2018,430197128,43,3,1,1,2018-06-21,5,15:30,E06000036,2,3,9,-1,-1,3,2,0
317230,2020430055987,2020,430055987,43,3,2,5,2020-02-15,7,23:00,E06000039,2,2,9,14,3,3,2,9
317231,2020430055987,2020,430055987,43,3,2,5,2020-02-15,7,23:00,E06000039,2,2,9,14,3,3,2,9
318871,2020430173231,2020,430173231,43,3,2,3,2020-06-10,4,18:57,E10000002,2,2,9,11,3,3,2,9
318872,2020430173231,2020,430173231,43,3,2,3,2020-06-10,4,18:57,E10000002,2,2,9,8,2,3,2,9
319103,2020430204523,2020,430204523,43,3,1,1,2020-07-04,7,22:10,E06000038,3,2,9,-1,-1,3,2,11
364840,2018430300211,2018,430300211,43,3,3,3,2018-09-25,3,16:45,E06000038,2,2,9,-1,-1,3,2,9
364841,2018430300211,2018,430300211,43,3,3,3,2018-09-25,3,16:45,E06000038,2,2,9,-1,-1,3,2,9
408514,2018430092337,2018,430092337,43,3,2,3,2018-03-24,7,06:40,E06000042,6,2,9,-1,-1,3,2,9
409101,2018430362660,2018,430362660,43,3,2,1,2018-11-26,2,08:20,E06000040,2,3,9,10,2,3,2,0
499868,2019430011250,2019,430011250,43,3,3,2,2019-01-11,6,16:02,E10000002,6,2,9,4,1,3,1,9
499869,2019430011250,2019,430011250,43,3,3,2,2019-01-11,6,16:02,E10000002,6,2,9,8,2,3,1,9
524708,2019430024437,2019,430024437,43,3,2,1,2019-01-22,3,18:30,E06000042,5,1,9,39,7,3,3,9
549416,2021430224806,2021,430224806,43,3,2,1,2021-05-24,2,17:45,E10000002,6,1,9,29,6,3,1,9
597540,2019430314008,2019,430314008,43,3,2,1,2019-10-08,3,16:00,E10000025,1,1,9,42,7,3,2,1
598617,2019430406027,2019,430406027,43,3,2,1,2019-12-26,5,20:50,E06000042,6,2,9,21,5,3,3,9
613420,2021430484224,2021,430484224,43,3,2,1,2021-10-26,3,16:14,E10000025,5,1,9,-1,-1,3,3,16
613735,2021430526639,2021,430526639,43,3,1,1,2021-11-21,1,08:40,E10000025,1,3,9,1,1,3,2,0
613849,2021430541618,2021,430541618,43,3,1,1,2021-11-30,3,15:33,E10000002,4,1,9,-1,-1,3,3,9
647182,2019430093966,2019,430093966,43,3,1,1,2019-03-26,3,15:30,E06000042,2,3,9,10,2,3,2,0
647380,2019430114798,2019,430114798,43,3,2,2,2019-04-15,2,13:10,E06000038,2,2,9,1,1,3,2,9
680589,2019610063619,2019,610063619,61,3,2,2,2019-08-04,1,18:08,W06000020,6,2,9,-1,-1,3,3,9
680644,2019610066919,2019,610066919,61,3,2,1,2019-12-05,5,19:10,W06000022,4,2,9,-1,-1,3,1,9

In [162]:
fact['sex_of_casualty'].replace(to_replace= 9,value= -1, inplace=True)
fact

,accident_index,accident_year,accident_reference,police_force,accident_severity,number_of_vehicles,number_of_casualties,acc_date,day_of_week,time,local_authority_highway,speed_limit,casualty_class,sex_of_casualty,age_of_casualty,age_band_of_casualty,casualty_severity,Road_type,Road_user_type
0,2021201082376,2021,201082376,20,3,2,1,2021-07-12,2,08:30,E08000030,2,1,1,53,8,3,2,19
1,2021201082383,2021,201082383,20,2,2,1,2021-07-15,5,22:17,E08000025,2,1,2,28,6,2,2,9
2,2021201082384,2021,201082384,20,3,2,1,2021-05-17,2,08:59,E08000025,2,1,2,34,6,3,2,9
3,2021201082407,2021,201082407,20,3,2,3,2021-05-15,7,17:54,E08000028,2,1,1,21,5,3,2,9
4,2021201082407,2021,201082407,20,3,2,3,2021-05-15,7,17:54,E08000028,2,1,2,27,6,3,2,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
728536,201731D027017,2017,31D027017,31,3,2,1,2017-02-23,5,16:30,E10000024,4,2,1,9,2,3,3,9
728537,2018460328922,2018,460328922,46,3,2,2,2018-09-07,6,08:24,E10000016,3,1,2,39,7,3,3,9
728538,2018460328922,2018,460328922,46,3,2,2,2018-09-07,6,08:24,E10000016,3,2,2,9,2,3,3,9
728539,2018010123866,2018,010123866,1,2,1,1,2018-07-29,1,04:30,E09000030,2,3,1,22,5,2,2,0
728540,2019010208894,2019,010208894,1,3,3,1,2019-09-27,6,10:20,E09000028,1,2,2,-1,-1,3,2,8

In [150]:
# fact['sex_of_casualty'] = np.where(fact['sex_of_casualty']==9, -1, fact['sex_of_casualty'])
# fact['sex_of_casualty'].unique()

array([ 1,  2, -1], dtype=int64)

In [163]:
fact.groupby('sex_of_casualty').count()

,accident_index,accident_year,accident_reference,police_force,accident_severity,number_of_vehicles,number_of_casualties,acc_date,day_of_week,time,local_authority_highway,speed_limit,casualty_class,age_of_casualty,age_band_of_casualty,casualty_severity,Road_type,Road_user_type
sex_of_casualty,,,,,,,,,,,,,,,,,,
-1,2570,2570,2570,2570,2570,2570,2570,2570,2570,2570,2570,2570,2570,2570,2570,2570,2570,2570
1,439624,439624,439624,439624,439624,439624,439624,439624,439624,439624,439624,439624,439624,439624,439624,439624,439624,439624
2,286347,286347,286347,286347,286347,286347,286347,286347,286347,286347,286347,286347,286347,286347,286347,286347,286347,286347

In [164]:
fact['sex_of_casualty'].unique()

array([ 1,  2, -1], dtype=int64)

In [165]:
fact.shape

(728541, 19)

In [166]:
fact

,accident_index,accident_year,accident_reference,police_force,accident_severity,number_of_vehicles,number_of_casualties,acc_date,day_of_week,time,local_authority_highway,speed_limit,casualty_class,sex_of_casualty,age_of_casualty,age_band_of_casualty,casualty_severity,Road_type,Road_user_type
0,2021201082376,2021,201082376,20,3,2,1,2021-07-12,2,08:30,E08000030,2,1,1,53,8,3,2,19
1,2021201082383,2021,201082383,20,2,2,1,2021-07-15,5,22:17,E08000025,2,1,2,28,6,2,2,9
2,2021201082384,2021,201082384,20,3,2,1,2021-05-17,2,08:59,E08000025,2,1,2,34,6,3,2,9
3,2021201082407,2021,201082407,20,3,2,3,2021-05-15,7,17:54,E08000028,2,1,1,21,5,3,2,9
4,2021201082407,2021,201082407,20,3,2,3,2021-05-15,7,17:54,E08000028,2,1,2,27,6,3,2,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
728536,201731D027017,2017,31D027017,31,3,2,1,2017-02-23,5,16:30,E10000024,4,2,1,9,2,3,3,9
728537,2018460328922,2018,460328922,46,3,2,2,2018-09-07,6,08:24,E10000016,3,1,2,39,7,3,3,9
728538,2018460328922,2018,460328922,46,3,2,2,2018-09-07,6,08:24,E10000016,3,2,2,9,2,3,3,9
728539,2018010123866,2018,010123866,1,2,1,1,2018-07-29,1,04:30,E09000030,2,3,1,22,5,2,2,0
728540,2019010208894,2019,010208894,1,3,3,1,2019-09-27,6,10:20,E09000028,1,2,2,-1,-1,3,2,8

In [167]:
fact.to_csv('C:/BIA/ETL/UK_Staging/Facts/f.UK_Road_Casualty.csv')